:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dblue: #2B3990;
  --green: #13A84A;
  --red: #FF0000;
  --lblue: #F1F4FF;
  --lgrey: #595959;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Poppins", serif;color: #191B19;margin: 0;
}
p {
  font-family: "Poppins", serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #595959;
margin: 0;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.mb2 {margin-bottom: 20px;}
.mb3 {margin-bottom: 20px;}
.mb4 {margin-bottom: 20px;}
.mb5 {margin-bottom: 20px;}
.mb6 {margin-bottom: 20px;}
.mb7 {margin-bottom: 20px;}
.mb15 {margin-bottom: 20px;}
.mt40 {margin-top: 40px;}
.pspace {padding: 100px 0;}
.ch2 {    font-size: 42px;
  line-height: 48px;
  color: #191B19;
  font-weight: 500;
  letter-spacing: -1px;}

  .cbtn {
    padding: 10px 40px;
    display: inline-flex;
    text-transform: capitalize;
    transition: all 0.3s linear;
    font-size: 15px;
    border-radius: 30px;
    position: relative;
    z-index: 9;
    font-weight: 500;
    background: var(--dblue);
    color: #fff;
    overflow: hidden;
}
.cbtn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--green);
  transition: all 0.5s ease;
  z-index: -1;
  border-radius: 30px;
}
.cbtn:hover, .bbtn:hover {
  color: #fff;
}.cbtn:hover::after {
  width: 100%;
}
.bbtn {
  padding: 9px 40px;
  display: inline-flex;
  text-transform: capitalize;
  transition: all 0.3s linear;
  font-size: 15px;
  position: relative;
  z-index: 9;
  border: 1px solid var(--dblue);
  border-radius: 30px;
  color: var(--dblue);
  overflow: hidden;
}
.bbtn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--dblue);
  transition: all 0.5s ease;
  z-index: -1;
}
.bbtn:hover::after {width: 100%;}.btn-fl {display: flex;gap: 25px;}.container {width: 90%;margin: auto;}.grid2{display: grid;grid-template-columns: repeat(2, 1fr);gap: 60px;}
.statistics img {width: 70px;}.statistics {background-color: var(--lblue);padding: 15px 20px;border-radius: 15px;    display: flex
  ;
      flex-direction: column;
      justify-content: space-between;}
.fbold {    font-size: 60px;
  line-height: 68px;
  color: var(--dblue);
  font-weight: 500;
  letter-spacing: -3px;}.statistics p {color: var(--dblue);}.stat-img {text-align: right;margin-bottom: -5px;}

 .statistics-row {    display: grid
  ;
      grid-template-columns: repeat(4, 1fr);
      width: 150%;
      z-index: 99;
      position: relative;
      gap: 20px;
      margin-top: 65px;
      padding-top: 20px;
      padding-right: 20px;
      background-color: #fff;
      border-top-right-radius: 20px;}
.about-col {display: grid;}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.d-grid{
 display:grid;
 grid-template-columns: 100%;
}


.vlink {
  position: relative;
  display: flex
;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  border-radius: 30px;
}
.popup-youtube img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.button.is-play {
  position: absolute;
}
.button-icon svg {
  width: 50px;
  height: 50px;
}
.button-icon {
  border-radius: 15px;
  width: 95px;
  height: 65px;
  display: flex
;
  align-items: center;
  justify-content: center;
  background: #38b34a;
  transition: all 0.5s ease-out;
}
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}
.h100 {height: 100%;}body {margin: 0;}


/* footer starts */

.footer p{
  margin-bottom:12px;
}
.footer{
   background-color: #F5F5F5;
   width: 100%;
}
.footer .container{
   width: 90%;
   margin: auto;
}

.footer .ft{
   display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: space-between;
   padding: 50px 0;
   gap:30px;
   border-bottom: 1px solid #666666;
}
.footer .contact br,.footer .Timing br{
   display: none;
}

.footer .fm{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  justify-content: space-between;
   width: 100%;
   padding-bottom: 50px;
   gap: 20px;
   border-bottom: 1px solid #666666;
   padding-top: 30px;

}
.footer li{
   list-style-type: none;
   margin-top: 8px ;
}
.footer ul li a{
   text-decoration: none;
   color:#666666

}
.footer ul li a:hover{
   color: #d10d0d;
}
.footer h3{
   padding-top: 50px;
   padding-bottom: 11px;
}
.footer .fm6d{
   padding-top: 40px;
}
.footer .fb{
   padding: 30px 0 80px;
}
.footer .fba{
   font-size: 14px;
}
.footer  .fba br{
   display: none;
}
.footer .icons ul{
   display: flex;
   gap:25px;
   padding-top: 20px;
}
.footer .icons ul img{
   width: 25px;
}
.footer .fm6ba,.footer .fm6ca,.footer .fm6da{
   display: none;
}
.footer .fm2b{
   display: none;
}
.footer .fm5b{
       display: none;
   }
.footer  .fm6{
   position: relative;
}
.footer  .fm6d{
   position: absolute;
   bottom: 0;
}


@media (max-width:1450px) {
   .footer    .ft{
       gap:40px;
   }
}
@media (max-width:1396px) {
   .footer .ft{
   gap:30px;
    padding-right:30px;
   }
   }


@media (max-width:1380px) {
   .footer    .ft{
       gap:45px;
       padding-right:10px
   }
}
@media (max-width:1376px) {
   .footer  .contact br,.footer .Timing br{
       display: block;
   }

}
@media (max-width:1300px) {
   .footer    .ft{
       gap: 20px;
       padding-right:0px
   }
   .footer  .fm{
       grid-template-columns: repeat(4,1fr);
   }
   .footer  .fm6ba,.footer .fm6ca,.footer .fm6da{
       display: block;
   }
   .footer   .fm6b,.footer .fm6c,.footer .fm6d{
       display: none;
   }

   .footer    .fm6ba{
       display: grid;
       align-content: space-between;
   }

}

@media (max-width:1160px) {
   .footer   .ft {
display: grid;
grid-template-columns: 21% 30% 22% 20%;
       }
       .footer   .logo img{
   width: 200px;
  }

}
@media (max-width:980px) {
   .footer .fm6ba,.footer .fm6ca,.footer .fm6da{
       display: none;
   }
   .footer  .fm6b,.footer .fm6c,.footer .fm6d{
       display: block;
   }
   .footer  .fm{
       grid-template-columns: repeat(3,1fr);
   }
   .footer  .ft {
       grid-template-columns: 43% 32% 23%;
       gap: 15px;
   }
   .footer  .logo{
       display: none;
   }

   .footer  .fm5b{
       display: block;
   }
   .footer  .fm6c{
       display: none;
   }
   .footer  .fm6{
       position: relative;
   }
   .footer  .fm6d{
       position: absolute;
       bottom:0;
       left:0;
   }
}
@media (max-width:700px) {
   .footer  .Address{
           grid-area: adrs;
       }
       .footer  .contact{
           grid-area:contact;
       }
       .footer  .Timing{
           grid-area:Timing;
       }
       .footer .ft{ display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-areas:
      "adrs adrs""contact Timing"  ;
      padding-bottom: 30px;
   }
   .footer  .contact br,.footer .Timing br{
       display: none;
   }
   .footer  .fm5b{
       display: block;
   }
   .footer  .fm6c{
       display: none;
   }
   .footer  .fm1{
       grid-area: fm1;
       display: grid;
   }
   .footer  .fm2{
       grid-area: fm2;
   }
   .footer  .fm3{
       grid-area: fm3;
   }
   .footer .fm4{
       grid-area: fm4;
   }
   .footer  .fm5{
       grid-area: fm5;
   }
   .footer  .fm6{
       grid-area: fm6;
   }
   .footer    .fm{
       display: grid;
       grid-template-columns: repeat(2,1fr);

   grid-template-areas:
   "fm1 fm4"
   "fm2 fm3"
   "fm5 fm6";
   padding-top: 20px;
   }
   .footer    .fm6{
       display: grid;
   }
   .footer    .fm6d{
       align-content:end ;
   }
   .footer   .footer li{
       margin-top:6px;
   }
   .footer    .fm6{
       display: block;
   }
}
@media (max-width:626px) {
   .footer  .contact p,.footer .contact a,.footer .Timing p{
       font-size: 15px;
   }
}
@media (max-width:605px) {
  .footer *{
       font-size: 14px;
   }
  .footer li{
       margin-top:6px;
   }
  .footer h3{
       padding-top: 30px;
       padding-bottom: 9px;
   }
   .footer    .fm{
       gap:10px 20px;
       padding-top:20px;
   }
   .footer    .icons ul {
   gap: 20px;
   padding-top: 7px;
   }
   .footer    .icons ul img {
   width: 22px;
   }
}



@media (max-width:590px) {

.footer   .ft{
   display: block;
   padding-bottom: 0px;
}
.footer  .contact br,.footer .Timing br{
   display: none;
}
.footer .Address{
   flex-direction: column;
}
.footer    .fm{
   display: block;
   padding-bottom: 20px;
   padding-top: 10px;
   border-style: none;
}
.footer   .fb{
   border-top: 1px solid #666666;
   padding-top: 10px;
   padding-bottom: 30px;
}
.footer    .fm3 h3{
   display: none;
}
.footer    .fm2b{
   display: block;
}
/* Heading style for accordion headers */
.footer h3 {
cursor: pointer;
font-size: 14px;
font-weight: bold;
background-color: #f5f5f5;
padding: 10px 0px;
margin-bottom: 10px;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #726f6f;
}

/* Hover effect for accordion headers */
.footer h3:hover {
background-color: #f5f5f5;
}
.fm1a1::after,.fm1b1::after,.fm1c1::after,.fm2a1::after,.fm4a1::after,.fm5a1::after,.fm6a1::after,.fm6b1::after,.fm6c1::after{
content: "";
background-image: url('images/down arrow.svg'); /* Ensure the path is correct */
display: block;
width: 20px; /* Width of the image */
height: 20px; /* Height of the image */
background-repeat: no-repeat;
/* transition: transform 0.75s ease-out; Smooth transition for rotation */
}

.iclose.fm1a1::after,
.iclose.fm1b1::after,
.iclose.fm1c1::after,
.iclose.fm2a1::after,
.iclose.fm4a1::after,
.iclose.fm5a1::after,
.iclose.fm6a1::after,
.iclose.fm6b1::after,
.iclose.fm6c1::after {
transform: rotate(180deg);
}

/* Accordion links list hidden by default */
.footer ul {
list-style: none;
padding: 0;
margin: 0;
max-height: 0px;
overflow: hidden;
background-color: #f5f5f5;
/* padding: 0px 10px; */
transition: 1s linear;

}

/* Styling for each list item */



.footer ul li a {
text-decoration: none;
color: #333;
font-size: 14px;
display: block;
}

.footer ul li a:hover {
color: #d10d0d;
}

/* Open accordion section display */
.footer ul.open {
height: auto;
max-height: 1000px;
transition: 2s linear;
}
.footer .fm3{
display: none;
}
.footer .fm5b{
display:none;
}
.footer .fm6c{
display: block;
}
.footer .fm6d{
position: static;
padding-top: 30px;
}
.footer .icons ul{
padding-bottom: 0;padding-left: 0;
gap:30px;
height: 100%;
max-height: fit-content;
transition: 0s;
}
}
@media (max-width:400px) {
.footer    .fba{
font-size: 14px;
}
}
@media (max-width:380px) {
.footer   .fba br{
display: block;
}
}
/* footer ends */

/* header starts */
.header .box{
  width: 100%;
  margin: auto;
  position: relative;
  background-color: #fff;
  /* box-shadow: 0px 2px 5px #b0adad; */
}
.header header{
  width:90%;
  background: #fff;
  margin: auto;

}
.header .hu{
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  gap: 50px;
}
.sd{
  display: none;
}
.sidebar{
  display: none;
}
.header .hu1, .header .hu2{
  display: flex;
  gap: 20px;
  align-items: center;
}
.header .hd3{
  justify-content: flex-end;
}
.header .hp, .header .pl , .header .eh, .header .cl{
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .hu p{
  font-weight: 600;
}
.header .hd{
  display: flex;
 justify-content: space-between;
  padding: 10px 0px 0px;
  border-top: 1px solid #f2edfc;
  gap: 20px;
}
.hd1a{
  display: flex;
  justify-content: flex-end;
  gap: 150px;
}
.header .hd1,.header .hd2,.header .hd3{
  display: flex;
}
.header .hd1{
  gap:40px;
  align-items: center;
}
.header .hd2,.header .hd3{
  align-items: center;
  gap: 25px;
}
.header .hd2{
  justify-content: center;
}
.header .hd2a ,.header .hd2b{
  height:100%;
  line-height: 70px;

}
.header .hd2a a,.header .hd2b a{
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot-remove{
  list-style-type: none;
}

.header .dot-remove a:hover {
  color:#39b54a;

}
.hover-down {
display: none;
position: absolute;
background-color: #fff;
z-index: 1000; /* Make sure it's above other elements */
padding: 10px; /* Padding for the items */
width: max-content; /* You can adjust this as needed */
top: 127px;
right: 80px;
transition: .5s ease;
}

.dot-remove:hover .hover-down {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.dot-remove:hover #d2{
display: grid;
grid-template-columns: repeat(2,1fr);
right:auto;
}

/* Optional: Add some styling for the menu items */
.hover-down li {
list-style-type: none;
padding: 0px 15px;
line-height: 22px;
margin-bottom: 20px;

}

.hover-down li:hover {
background-color: #f0f0f0; /* Hover effect for the items */
color: #39b54a;
cursor: pointer;
}
.liflex{
  display: flex;
  justify-content: space-between;
  gap:10px;
}

.header .hd2 a{
  text-decoration:none ;
  color: #000000;
  font-weight: 600;
}
.header .hd1 img{
  width: 100%;

}
.header .hd3a img {
  padding: 15px;
  background: #ececec;
  border-radius: 30px;
}

.header .hd3b button{
  padding: 13px 30px;
  border-radius: 40px;
  background: #2b3991;
  color: #ffffff;
  border-style: none;
  font-size: 16px;
  font-weight: 600;
}
.dflex{
  display: flex;
  align-items: center;
}


.hd2-flex {display: flex;align-items: center;gap: 50px;}
.hd3-flex {display: flex;align-items: center;gap: 50px;}
.w-hd1afl {display: flex;align-items: center;gap: 50px;}
ul, ol {
  list-style-type: none; /* Removes bullets or numbers */
  margin: 0; /* Optional: removes default margins */
  padding: 0; /* Optional: removes default padding */
}


@media (max-width:1400px) {
  .hover-down {
      right: 120px;
  }
  .hd1a{
      gap:60px;
  }


}
@media (max-width:1335px) {
  .header .hd{

  }
  .header .hd1{
      gap: 30px;
  }
  .header .hd2, .header .hd3 {
   gap: 20px;
  }
  .header .hd3a img {
      padding: 10px;
      width: 40px;
  }

}
@media (max-width:1290px) {
  .hover-down {
  right:35px;
   }

}
@media (max-width:1274px) {

  .header .hd1{
      gap: 20px;
  }
  .header .hd2, .header .hd3 {
   gap: 15px;
  }
}
@media (max-width:1250px) {

  .header .hd p, .header .hd3 button{
      font-size: 15px;
  }
}
@media (max-width:1200px) {

  .header .hd,.header .hu{
      display: none;
  }
  .sd{
      display: flex;
      justify-content: space-between;
      padding: 20px  20px 10px;
      background: #fff;
      gap:10px;
  }
  .sdba ,.sdb{
      display: flex;
      gap:20px;
      align-items: center;

  }
  .header header {
      position: sticky;
      z-index: 999;

  }

  .sda img{
  width: 170px;
}

.bar1, .bar2, .bar3 {
width: 20px;
height: 3px;
background-color: #3bb549;
margin: 5px 0;
transition: 0.4s;
}

.change .bar1 {
transform: translate(0, 10px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
transform: translate(0, -6px) rotate(45deg);
}

  .sidebar {
  width: 300px;
  background-color: #fffdfd;
  color: #0b0b0b;
  position: fixed;
  z-index: -1;  /* Lower z-index, so it stays behind the header */
  top: 0;
  right: -700px; /* Sidebar starts hidden off the right side */
  height: 100%;
  overflow-x: hidden;
  transition: right 0.3s ease;
  display: block;
  padding-top: 98px;

}

.sidebar nav {
display: flex;
flex-direction: column;

}

.sidebar nav ul {
list-style: none;
padding-top: 0;
}

.sidebar nav ul li {
margin: 0;
}

.sidebar nav ul li a {
color: #000;
text-decoration: none;
font-size: 18px;
padding: 15px 30px 15px 10px;
display: flex;
justify-content: space-between;
width: 100%;

}
.after{
display: flex;
justify-content: space-between;
align-items: center;

}
.angdown{
transform: rotate(90deg); /* Rotate the icon */
}
.sidebar nav ul li{
border-bottom: 1px solid #e7e6e6;
}
.sidebar i{
border-left: 1px solid #e7e6e6;
padding: 16px 20px;
}
.sidebar nav ul li .sub-menu .m1 ul li{
border-bottom: #b0adad;
}
.m1{
background-color:#92d69c38;
}
.m2{
background-color: #b2e2b845;
}

/* Sub-menu hidden by default */
.sidebar nav ul li .sub-menu {
display: none;
list-style: none;
padding-left: 2px;
border-top: 1px solid #39b54a;
}

/* Sub-menu visible when the parent li has the 'active' class */
.sidebar nav ul li.active .sub-menu {
display: block; /* Show the sub-menu */
}

/* Sidebar visible when toggled */
.sidebar.open {
right: 0; /* Sidebar slides in */
box-shadow: -4px 0px 6px #d9d2d2;
}

.menu-btn {
background-color: #fff;
color: rgb(138, 136, 136);
border: none;
cursor: pointer;

z-index: 999; /* Ensure the button is always on top */
}

.menu-btn:hover {
background-color: #fffefe;
}

.menu-btn {
display: inline-block;
cursor: pointer;
}
}
@media (max-width:750px) {
.hd3b{
display: none;
}

}

@media (max-width:700px) {
  .sidebar {
      width: 100%;

  }
}
@media (max-width: 470px) {
.sd {

padding: 20px 10px 10px;
}
.sdb,.sdba {

gap: 16px;
}

}
@media (max-width:420px) {
.menu-btn {
     padding: 0px;
}

}
@media (max-width:400px) {
  .header header{
      width: 100%;
  }

}
@media (max-width:350px) {
  .sdba{
      display: none;
  }

}
/* header ends */

@media (max-width: 1400px) {
  .statistics-row {grid-template-columns: repeat(2, 1fr);width: 100%;}.popup-youtube img {height: auto;}.grid2 .h100 {height: auto;}

}

@media (max-width: 992px) {
  .grid2 {flex-direction: column-reverse;display: flex;}.ch2{font-size: 35px;line-height: 42px;}.fbold {font-size: 50px;line-height: 58px;}.statistics img {width: 65px;}
  .statistics-row {padding-right: 0;}
}

@media (max-width: 767px) {
  .ch2 {font-size: 30px;line-height: 35px;}.fbold{font-size: 40px;line-height: 48px;}.statistics img {width: 60px;}.statistics-row {margin-top: 40px;}.grid2 {gap: 40px;}

}

@media (max-width: 480px) {
  .ch2 {font-size: 24px;line-height: 28px;}.stat-img {margin-bottom: 15px;}.statistics img {width: 45px;}.statistics-row {margin-top: 20px;gap: 10px;}.btn-fl {flex-wrap: wrap;gap: 15px;}
.cbtn {padding: 9px 32px;}.bbtn {padding: 8px 32px;}.button-icon{width: 75px;height: 55px;border-radius: 10px;}.button-icon svg {width: 38px;height: 38px;}
.vlink  {border-radius: 15px;}.btn-fl.mt40 {margin-top: 25px;}
}
@media (max-width: 380px) {
  .btn-fl {gap: 10px;}.button-icon {width: 65px;height: 45px;}.statistics {padding: 15px;}

}