#root {
  width: 100%;
  height: 100%;
}
.dash body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  height: 100vh;
}
/* ******* Main layout Design ******* */

.dash-header {
  position: sticky;
  top: 0px;
  z-index: 255;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Left section styling */
.header-left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-logo {
  height: 50px;
}

.header-subtitle {
  font-size: 14px;
  color: #555;
  margin-left: 10px;
}

/* Right section styling */
.header-right {
  display: flex;

  align-items: center;
}

.icon-button {
  background: none;
  border: none;
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
  color: #555;
}

.icon-button:hover {
  color: #000;
}

/* Profile styling */
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #00bcd4;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* Layout style */
.dash-grid {
  transition: 0.3s linear;
  display: grid;
  grid-template-columns: 15% 85%;
}
.content-div {
  padding: 30px 30px;
}

/* Sidebar style */
.dash-sidebar {
  display: block;
  width: auto;
  background-color: #f8f9fa;
  height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 15px;
  cursor: pointer;
}
.mblmenu{display:none}
.line {
  height: 2px;
  background-color: #838383;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.line1 {
  transform: rotate(0deg) translate(0, 0);
}

.line2 {
  opacity: 1;
}

.line3 {
  transform: rotate(0deg) translate(0, 0);
}

.line1-open {
  transform: rotate(45deg) translate(3px, 3px);
}

.line2-open {
  opacity: 0;
}

.line3-open {
  transform: rotate(-45deg) translate(6px, -7px);
}

/* Menu styles */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  padding: 10px 15px;
}

.menu-item:hover {
  background-color: #dcdced;
}

.menu-item i {
  margin-right: 10px;
}
.menu-item a {
  width: 100%;
  text-align: left;
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition:0.3s linear;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}
.menu-item:hover a {
  color: #4f3192;
  text-decoration: none;
  font-weight: 500;
}

/* Active menu styles */
.menu-item.active,
.submenu li.active {
  background-color: #dcdced;
  font-weight: bold;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-card {
  background: #ffffff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.hospital-logo {
  width: 80px;
  margin-bottom: 20px;
}

.login-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #555;
}

.input-field {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background: #f9f9f9;
  font-size: 14px;
}

.input-field:focus {
  outline: none;
  border-color: #4a90e2;
  background: #eef7ff;
}
label {
  color: grey;}
.mblsidemenu{display:none;}


.login-button {
  background: linear-gradient(45deg, #4a90e2, #3559a5);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.login-button:hover {
  background: linear-gradient(45deg, #3559a5, #4a90e2);
}
.icon2 {
  display: none;
}
.login-button:focus {
  outline: none;
}

/* ** Common style  table =>search,export buttons ** */
.search-boxdiv {
  margin-bottom: 20px;
}
.search-box:focus-visible {
  outline: none;
}
.search {
  position: relative;
}
.search-box {
  position: relative;
  border: none;
  /* width:fit-content; */
  border-radius: 20px;
  background-color: #f5f5f5;
  padding: 10px 15px 10px 38px;
}

.search::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNXB4IiBoZWlnaHQ9IjI1cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iIzI2MjYyNiIgZD0ibTE5LjQ4NSAyMC4xNTRsLTYuMjYyLTYuMjYycS0uNzUuNjM5LTEuNzI1Ljk4OXQtMS45Ni4zNXEtMi40MDIgMC00LjA2Ni0xLjY2M1QzLjgwOCA5LjUwM1Q1LjQ3IDUuNDM2dDQuMDY0LTEuNjY3dDQuMDY4IDEuNjY0VDE1LjI2OCA5LjVxMCAxLjA0Mi0uMzY5IDIuMDE3dC0uOTcgMS42NjhsNi4yNjIgNi4yNjF6TTkuNTM5IDE0LjIzcTEuOTkgMCAzLjM2LTEuMzd0MS4zNy0zLjM2MXQtMS4zNy0zLjM2dC0zLjM2LTEuMzd0LTMuMzYxIDEuMzd0LTEuMzcgMy4zNnQxLjM3IDMuMzZ0My4zNiAxLjM3Ii8+PC9zdmc+");
  position: absolute;
  top: 23%;
  left: 12px;
}

.d-export-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0px;
}
.model-button-wrp {
  display: flex;
  gap: 10px;
  margin: 20px 0px 0px;
}
.dyn-form {
  padding: 20px 10px;
  position: relative;
  background: #f5f5f5;
  margin: 20px 0px;
}
.dyn-form .model-button-wrp {
  right: 0px;
}
.d-export-buttons button {
  border-radius: 10px;
  padding: 10px 15px;
  border: 1px solid ;
}
.d-btntyp1 {
  background: #2b3a66a6;
  color: #fff;
}
.d-btntyp2 {
  background: #2bae66ab;
  color: #fff;
}
.d-rmvbtn {
  background: #eb8f8f;
  border: 1px solid #eb8f8f;
  color: #fff;
}
.d-btntyp1:hover {
  background: #2b3a66;
  color: #fff;
  border: 1px solid #2b3a66;
}
.d-btntyp2:hover {
  background: #2bae66;
  color: #fff;
  border: 1px solid #2bae66;
}
.d-rmvbtn:hover {
  background: #ff2020;
  border: 1px solid #ff2020;
  color: #fff;
}

.d-mbtntyp-1 {
  background: #2b3a66 !important;
  color: #fff !important;
  border-radius: 10px;
  border: 1px solid #2b3a66 !important;
  transition: 0.3s linear;
}
.d-mbtntyp-2 {
  border: 1px solid #2bae66;
  color: #353535;
  background: transparent;
  border-radius: 10px;
  transition: 0.3s linear;
}
.d-mbtntyp-1:hover {
  background: transparent !important;
  color: #353535 !important;
}
.d-mbtntyp-2:hover {
  background: #2bae66;
  color: #fff;
  border: 1px solid #2bae66;
}
/***  Sub pages  ***/
.d-sub-hed-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
/* Table style */
.MuiTablePagination-toolbar p {
  margin: 0px;
}

/* Modal Style */
.ReactModal__Overlay--after-open {
  z-index: 99999 !important;
  background-color: rgb(88 87 87 / 75%) !important;
}
.ReactModal__Content.ReactModal__Content--after-open {
  width: 60%;
  min-width: 60%;
  margin: auto;
  top: 150px;
}
.form-input-wrp {
  display: grid !important;
  grid-template-columns: 50% 50%;
  row-gap: 10px;
  margin-bottom: 25px;
}
.dyn-form {
  margin-bottom: 20px;
}
.detail.form-input-wrp {
  display: grid !important;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
  margin-bottom: 0px !important;
}
.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-div  input , .form-div select {Border: 1px solid #bfbfbf;border-radius: 4px;padding: 6px 12px;margin: 5px 0px 0px;}
.form-div  input:focus , .form-div select:focus {outline:none;}

@media (max-width: 1200px) {
  .dash-grid {
    display: grid;
    grid-template-columns: 20% 80%;
  }
}

@media (max-width: 950px) {
  .dash-grid{
    display: grid;
    grid-template-columns: 10% 90%;
  }
  .icon1{display:none !important;}
  .burger-menu {
    display: flex;
  }

  .dash-grid .menu-item a.icon2 {
    display: block;
  }
  .active.dash-grid .menu-item a {
    opacity: 0;
    visibility: hidden;
  }
  .dash-grid.inactive{
    grid-template-columns: 20% 80%;
  }
  .dash-grid.active.sideact{
    grid-template-columns: 20% 80%;
  }
 .inactive.dash-grid .menu-item a {
    opacity: 1;
    visibility: visible;
  }
  .icon2 {
    display: block;
  }
  .active.dash-grid .menu-item .icon2 a{
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 680px) {
  .form-input-wrp {
    display: grid !important
;
    grid-template-columns: 100%;
  }
  .dash-header {padding:10px 20px;}
  .icon-button {
   
    font-size: 16px;
    padding-right: 13px;
    padding: 0px 10px  0px 0px;
 
}
}
@media (max-width: 700px) {
  .dash .active .dash-sidebar{
    display: block;
    transition: 0.3s linear;
    transform: translateX(-276px);
    position: fixed;
    top: 70px;
    width: 220px;
    z-index: 200;
  }
  .mblsidemenu{display:block}
  .dash-grid.inactive  .dash-sidebar{display:none !important;}
  .dash .inactive .dash-sidebar{
    display: block;
    transform: translateX(-0px);
    transition: 0.3s linear; 
    position: fixed;
    top: 70px;
    width: 220px;
    z-index: 200;
  }
  .dash-grid .dash-sidebar{display:none;}
  .dash-grid {
    display: grid;
    grid-template-columns: 100%;
  }
  .dash-grid.inactive {
    grid-template-columns: 100%;
}
}

